* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.logo {
    width: 20vw;
    height: 20vh;
    object-fit: contain;
    box-sizing: border-box;
}

.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    overflow-y: auto; /* Add vertical scrollbar */
}

ul {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

li {
    height: 8vh;
    width: 40vh;
    max-width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8rem + 0.8vw);
    font-weight: bold;
    margin: 0 auto;
    font-size: calc(1rem + 1vw);
}

a {
    font-size: calc(0.1rem + 0.1vw);
    white-space: nowrap;
    color: navy;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

li:hover {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(32, 9, 148);
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.list9:hover{
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.btn:hover{
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
li:hover a {
    background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;

}

.carousel-inner {
    display: flex;
    animation: slide 10s infinite;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.carousel-item img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.description {
    margin-top: 10px;
}

.description h3{
    color:rgb(32, 9, 148) ;
}

.description p {
    margin: 5px 0;
    font-size: 18px;
    color: black;
    text-align: justify;
}

@keyframes slide {
    0%, 33.33% {
        transform: translateX(0);
    }
    33.33%, 66.66% {
        transform: translateX(-100%);
    }
    66.66%, 100% {
        transform: translateX(-200%);
    }
}


@media (min-width:768px) {
    .sidebar {
        display: grid;
        /* Enable grid layout inside sidebar */
        grid-template-rows: repeat(11, 1fr);
        /* Define 8 rows inside sidebar */
        grid-row-start: 1;
        grid-row-end: 14;
        /* Adjusted to span 9 rows */
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        border: 1px solid rgb(32, 9, 148);
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
    }

    .logo {
        grid-column-start: 1;
        /* Align with sidebar column */
        grid-column-end: 2;
        grid-row-start: 1;
        /* Start at the top of the sidebar */
        grid-row-end: 2;
        height: 8vh;

    }

    .list1, .list2, .list3, .list4, .list5, .list6, .list7, .list8, .list9, .list10 {
        grid-column-start: 1;
        /* Align with sidebar column */
        grid-column-end: 2;
    }


    .btn {
        grid-row-start: 2;
        /* Start at the top of the sidebar */
        grid-row-end: 3;
    }

    .list1 {
        grid-row-start: 3;
        /* Start at the top of the sidebar */
        grid-row-end: 4;
    }

    .list2 {
        grid-row-start: 4;
        /* Start at the top of the sidebar */
        grid-row-end: 5;
    }

    .list3 {
        grid-row-start: 5;
        /* Start at the top of the sidebar */
        grid-row-end: 6;
    }

    .list4 {
        grid-row-start: 6;
        /* Start at the top of the sidebar */
        grid-row-end: 7;
    }

    .list5 {
        grid-row-start: 7;
        /* Start at the top of the sidebar */
        grid-row-end: 8;
    }

    .list6 {
        grid-row-start: 8;
        /* Start at the top of the sidebar */
        grid-row-end: 9;
    }

    .list7 {
        grid-row-start: 9;
        /* Start at the top of the sidebar */
        grid-row-end: 10;
    }

    .list8 {
        grid-row-start: 10;
        /* Start at the top of the sidebar */
        grid-row-end: 11;
    }
    .list10 {
        grid-row-start: 11;
        /* Start at the top of the sidebar */
        grid-row-end: 12;
    }
    .list9 {
        grid-row-start: 12;
        /* Start at the top of the sidebar */
        grid-row-end: 13;
    }

    .container {
        grid-template-rows: repeat(10, 1fr);
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(5, 1fr);

    }

    .header,
    .footer {
        grid-column-start: 2;
        grid-column-end: 6;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        border: 1px solid rgb(32, 9, 148);
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
    }



    .content{
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 10;
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        border: 1px solid rgb(32, 9, 148);
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
    }

    li {
        font-size: calc(0.8rem + 0.8vw);
    }

    a {
        font-size: calc(0.7rem + 0.7vw);
    }
}
