@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    background-image: url("../images/home/head/body-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
}

.container {
    height: 90vh;
    width: 97.5vw;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 1rem;
}

.item {
    background-color: rgb(94, 94, 194);
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.item .content1 {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.logo {
    width: 20vw;
    height: 20vh;
    object-fit: contain;
    box-sizing: border-box;
}

.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 1rem;
    box-shadow: 0 0 10px 5px rgba(172, 169, 169, 0.5);
    border-radius: 1rem;
}

ul {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

li {
    height: 8vh;
    width: 40vh;
    max-width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8rem + 0.8vw);
    font-weight: bold;
    margin: 0 auto;
    font-size: calc(1rem + 1vw);
}

a {
    font-size: calc(0.1rem + 0.1vw);
    white-space: nowrap;
    color: navy;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

li:hover {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(32, 9, 148);
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.list9:hover {
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.btn:hover {
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

li:hover a {
    background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

@media (min-width:768px) {
    .sidebar {
        display: grid;
        grid-template-rows: repeat(11, 1fr);
        grid-row-start: 1;
        grid-row-end: 14;
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 8vh;
    }

    .list1,
    .list2,
    .list3,
    .list4,
    .list5,
    .list6,
    .list7,
    .list8,
    .list9,
    .list10 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .btn {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .list1 {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .list2 {
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .list3 {
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .list4 {
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .list5 {
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .list6 {
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .list7 {
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .list8 {
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .list10 {
        grid-row-start: 11;
        grid-row-end: 12;
    }

    .list9 {
        grid-row-start: 12;
        grid-row-end: 13;
    }

    .container {
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }

    .header,
    .footer {
        grid-column-start: 2;
        grid-column-end: 6;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        border-radius: 2rem;
        padding: 0.5rem;
        margin: 1rem;
        box-shadow: 0 0 10px 5px rgba(172, 169, 169, 0.5);
    }

    .content {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 10;
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        box-shadow: 0 0 10px 5px rgba(172, 169, 169, 0.5);
        border-radius: 1rem;
        padding: 0.5rem;
        margin: 1rem;
    }

    li {
        font-size: calc(0.8rem + 0.8vw);
    }

    a {
        font-size: calc(0.7rem + 0.7vw);
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74vh;;
}

.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    animation: slide 10s infinite;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.carousel-item img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.description {
    margin-top: 10px;
}

.description h3 {
    color: rgb(32, 9, 148);
}

.description p {
    margin: 5px 0;
    font-size: 18px;
    color: black;
    text-align: justify;
}

@keyframes slide {
    0%, 33.33% {
        transform: translateX(0);
    }
    33.33%, 66.66% {
        transform: translateX(-100%);
    }
    66.66%, 100% {
        transform: translateX(-200%);
    }
}