* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/home/head/body-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Kanit", sans-serif;
    zoom: 1;
}

.container {
    width: 94vw;
    margin: 50px auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar ul li a:hover{
    color: #66e5e3;
}
.navbar .logo img {
    height: 85px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.heading {
    color: rgba(71, 215, 234, 0.999);
    font-size: 55px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 30px;
}

.content {
    color: black;
    text-align: left;
    line-height: 1.8;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-left: 30px;
}

.content p {
    margin: 0 0 10px 0;
    margin-left: 30px;
}

.content button {
    background-color: rgba(71, 215, 234, 0.999);
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    margin-left: 30px;
}

.image img {
    width: 500px;
    border-radius: 0px;
}

.gallery-heading, .history-heading {
    color: rgba(71, 215, 234, 0.999);
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
}

.gallery-container {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery img:hover {
    transform: scale(1.07);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.histories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.history {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;
    background-color: #c2cdf67a;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.history:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.history img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #c2cdf67a;
}

.history-info {
    padding: 15px;
    text-align: justify;
}

.history-info h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}

.history-info p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
