*{
    margin: 0;
    padding:0;
}
body{
    background-image: url("../images/home/body-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Kanit", sans-serif;
    zoom: 1;
}

.container{
    width: 94vw;
    height: auto;
    margin: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
    background-image: url("../images/home/bgimg.png");
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar .logo img {
    height: 85px;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /*To represent element in one block(complete row)*/
    align-items: center;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.heading{
    color: rgba(71, 215, 234, 0.999);
    font-size: 55px;
    font-weight: bold;
    margin-top: 5%;
    padding-left: 10%;
}

.content-container {
    width: 80%; 
    margin: 0 auto;
    padding-top: 40px;
    overflow-y: auto; 
    height: calc(100vh - 100px); 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content{
    color: black;
    width: 80%; 
    margin: 0 auto; 
    text-align: left; 
    padding-top: 40px; 
    line-height: 1.8; 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;

}

button{
    background-color:rgba(71, 215, 234, 0.999);
    color: white;
    width: 11vw;
    height: 7vh;
    border: rgba(71, 215, 234, 0.999);
    border-radius: 20px;
    font-size: 25px; 
    line-height: 1.8; 
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    display: inline-block; 
    margin-right: 30px;
}

.gallery-heading {
    color: rgba(71, 215, 234, 0.999);
    font-size: 55px;
    font-weight: bold;
    margin-top: 8%;
    padding-left: 10%
}

.gallery .container{
    margin-bottom: -50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 30%; /* adjust the width as needed */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .container {
        /* ... existing styles ... */
        height: 100%; /* adjust the height to fit the screen */
    }

    .content-container {
        /* ... existing styles ... */
        height: 100%; /* adjust the height to fit the screen */
    }
}
