* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: calc(100vh - 100px);
    /* Adjust height to account for margin */
    width: calc(100vw - 100px);
    /* Adjust width to account for margin */
    /* background-image: url("../images/home/body-bg.png"); */
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    width: 100vw;
    /* background-image: url("../images/home/body-bg.png"); */
    display: grid;
    /* display: flex; */
        flex-direction: column;
        /* min-height: 100vh; */
    /* grid-template-rows: 1fr 1fr;*/
    /* grid-template-rows: repeat(4,1fr);*/
    /* grid-template-columns: 1fr 1fr 1fr; 
    grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item {
    background-color: rgb(94, 94, 194);
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    opacity: 1;
    /* font-size: 2.3rem; */
}
.item.content1 {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 1rem; /* Adjust as needed */
}
.logo {

    width: 20vw;
    height: 20vh;
    object-fit: contain;
    box-sizing: border-box;
    /* overflow: hidden; Prevent content from spilling out */
}

.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    /* overflow: hidden; */
    /* Prevent content from spilling out */
}


ul {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;

}

li {
    height: 8vh;
    width: 40vh;
    /* Full width of the sidebar */
    max-width: 40vh;
    /* Maximum width */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8rem + 0.8vw);
    font-weight: bold;
    margin: 0 auto;
    font-size: calc(1rem + 1vw);

    /* Center the li if smaller than max-width */
}

a {
    font-size: calc(0.7rem + 0.7vw);
    white-space: nowrap;
    color: navy;
    text-shadow:0 2px 5px rgba(0, 0, 0, 0.5);
    /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

li:hover {
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(32, 9, 148);
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.list9:hover{
    background-color: linear-gradient(90deg, rgba(32, 9, 148, 1) 0%, rgb(102, 100, 237) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

li:hover a {
    background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.testimonial-1 {
    display: flex;
}

.desp {
    height: 25vh;
    width: 40vw;
    background-image: url("../images/home/body-bg.png");
    /* margin-top: 3rem; */
    padding:2rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 60px 60px 10px 60px;
    display: inline-flex;
    font-size: large;
    font-family: monospace;
    font-weight: 900;
    font-style: italic;
    text-align: justify;
}


.team-container1 {
    width: 15vh;
    height: 15vh;
    border-radius: 50% 10px 50% 50% ;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.t-card{
    margin: 0 10rem 0 10rem;
    padding: 1.8rem;
    border-radius: 1rem;
    width: 28vw;
}

.testimonial {
	width: 50vw;
	max-width: 100%;
	/* background: #ffca52; */
	background-image: url("../images/home/body-bg.png");
    /* margin: 4rem; */
	padding: 4em 3em;
	display: flex;
	align-items: flex-end;
	position: relative;
	box-shadow: 0 2px 2px hsl(0deg 0% 0%/.075), 0 3px 3px hsl(0deg 0% 0%/.075), 0 5px 5px hsl(0deg 0% 0%/.075), 0 9px 9px hsl(0deg 0% 0%/.075), 0 17px 17px hsl(0deg 0% 0%/.075);
	position: relative;
	
	
	.quote {
		position: absolute;
		font-size: 3em;
		width: 40px;
		height: 40px;
		background: navy;
		color: #fff;
		text-align: center;
		line-height: 1.25;
		&.open {
			top: 0;
			left: 0;
		}
		&.close {
			bottom: 0;
			right: 0;
		}
	}
	p {
		width: 60%;
		display: inline-block;
		font-weight: bold;
		font-size: 1.25em;
	}
	.source {
		width: 40%;
		height: 100%;
		position: relative;		
		span {			
			display: inline-block;
			font-weight: bold;
			font-size: 1.15em;
			position: relative;
			margin-left: 1rem;
			text-align: right;			
			&:before {
				content: "\2014";
				display: inline;
				margin-right: 5px;
			}
		}		
	}
	.image {
		transform: rotate(-5deg);
		position: absolute;
        /* margin-top: 1rem; */
		top: 0.5em;
		right: 1.5em;
		img {
			border: 10px solid #fff;
			margin: 0;
			padding: 0;
		}
		.clip {
			border: 2px solid #222;
			border-right: none;
			height: 75px;
			width: 20px;
			position: absolute;
			right: 5%;
			top: -15%;
			border-radius: 25px;
			&:before {
				content: "";
				position: absolute;
				top: -1px;
				right: 0;
				height: 10px;
				width: 16px;
				border: 2px solid #222;
				border-bottom: none;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				z-index: 99;					
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -1px;
				right: 0;
				height: 40px;
				width: 16px;
				border: 2px solid #222;
				border-top: none;
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
				z-index: 99;
			}
		}
	}
}



@media (min-width:768px) {
    .sidebar {
        display: grid;
        /* Enable grid layout inside sidebar */
        grid-template-rows: repeat(11, 1fr);
        /* Define 8 rows inside sidebar */
        grid-row-start: 1;
        grid-row-end: 13;
        /* Adjusted to span 9 rows */
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        border: 1px solid rgb(32, 9, 148);
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
    }

    .logo {
        grid-column-start: 1;
        /* Align with sidebar column */
        grid-column-end: 2;
        grid-row-start: 1;
        /* Start at the top of the sidebar */
        grid-row-end: 2;
        height: 8vh;

    }

    .list1, .list2, .list3, .list4, .list5, .list6, .list7, .list8, .list9 {
        grid-column-start: 1;
        /* Align with sidebar column */
        grid-column-end: 2;
    }

    .list1 {
        grid-row-start: 2;
        /* Start at the top of the sidebar */
        grid-row-end: 3;
    }

    .list2 {
        grid-row-start: 3;
        /* Start at the top of the sidebar */
        grid-row-end: 4;
    }

    .list3 {
        grid-row-start: 4;
        /* Start at the top of the sidebar */
        grid-row-end: 5;
    }

    .list4 {
        grid-row-start: 5;
        /* Start at the top of the sidebar */
        grid-row-end: 6;
    }

    .list5 {
        grid-row-start: 6;
        /* Start at the top of the sidebar */
        grid-row-end: 7;
    }

    .list6 {
        grid-row-start: 7;
        /* Start at the top of the sidebar */
        grid-row-end: 8;
    }

    .list7 {
        grid-row-start: 8;
        /* Start at the top of the sidebar */
        grid-row-end: 9;
    }

    .list8 {
        grid-row-start: 9;
        /* Start at the top of the sidebar */
        grid-row-end: 10;
    }

    .list9 {
        grid-row-start: 10;
        /* Start at the top of the sidebar */
        grid-row-end: 11;
    }

    .container {
        grid-template-rows: repeat(8, 1fr);
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(5, 1fr);

    }

    .header,
    .footer {
        grid-column-start: 2;
        grid-column-end: 6;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        border: 1px solid rgb(32, 9, 148);
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
    }



    .content1 {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 8;
        background: rgb(78, 215, 255);
        background: linear-gradient(90deg, rgba(78, 215, 255, 1) 0%, rgba(196, 251, 255, 1) 44%);
        border: 1px solid rgb(32, 9, 148);
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
    }

    li {
        font-size: calc(0.8rem + 0.8vw);
    }

    a {
        font-size: calc(0.7rem + 0.7vw);
    }
}
